
@*<form novalidate name="frmFabricStyleEntry" id="frmFabricStyleEntry" class="form-horizontal row-border">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-6">
                    <input type="text"
                           
                           onpaste="return false"
                           ng-keydown="FabricStyleValidation($event)"
                           style="width: 100%"
                           class="form-control"
                           id="slubStyle"
                           name="slubStyle"
                           placeholder="Ex : L2038"
                           ng-model="slubStyle" required />
                </div>
                <span class="error" ng-show="frmFabricStyleEntry.slubStyle.$error.pattern">Only Digit and Alphabet</span>
                <span class="error" ng-show="(frmFabricStyleEntry.slubStyle.$dirty||submitted) && frmFabricStyleEntry.slubStyle.$error.required">*</span>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label">Remarks</label>
                <div class="col-md-6">
                    <textarea id="remark" ng-model="remark" cols="38" rows="4"></textarea>

                </div>

            </div>
        </div>
    </div>
</form>*@



<form novalidate name="frmBrandingColor" id="frmBrandingColor" class="form-horizontal row-border">

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="input17">Type</label>
                    <div class="col-md-6">
                        <select id="DyingProcessId"
                                class="select2-select-00"
                                ng-model="Beamdrop"
                                name="DyingProcessId"
                                data-placeholder="--Select Beam Can--"
                                style="width: 100%"
                                ng-options="beamcan.Value as beamcan.Name for beamcan in   beamcanList" disabled>
                            <option></option>
                        </select>
                    </div>
                    <span class="error" ng-show="(frmBrandingColor.DyingProcessId.$dirty||submitted) && frmBrandingColor.DyingProcessId.$error.required">*</span>
                </div>
            </div>
     </div>
    </div>



    <div class ="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">BeamCan No</label>
                    <div class="col-md-6">
                        <input type="text"
                               class="form-control"
                               style="width:100%"
                               id="BrandingColorId"
                               name="BrandingColorId"
                               ng-model="Beamfield"
                               placeholder="Ex :Number"
                               disabled />
                    </div>
                    <span class="error" ng-show="(frmBrandingColor.BrandingColorId.$dirty||submitted) && frmBrandingColor.BrandingColorId.$error.required">*</span>
                </div>
            </div>
            <div class="col-md-3">
            @*new menu*@
            </div>
            @*<div class="col-md-3">
                <button class="btn btn-primary" ng-click="Add()">ADD</button>
            </div>*@

        </div>
    </div>

  

</form>






